<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container error-container">
      <strong>404</strong>
      <h1>Такої сторінки або ресурсу з таким ідентифікатором не існує</h1>
    </div>
  </body>
</html>
