<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 Error</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container error-container">
      <strong>500</strong>
      <h1>Помилка на сервері</h1>
      <a href="/" style="margin-top: 20px; display: inline-block"
        >← На головну</a
      >
    </div>
  </body>
</html>
